 /*Copyright Ideas4Learning 2016. http.//ideas4learning.com */

 #temarioTitle {
     font-size: 18px;
 }
 .linkPage, .tema {
     font-size: 12px;
     font-weight: 500;
 }
 .tema {
     font-weight: 600;
 }
