.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border: 0px transparent;
}

.card:hover .card__inner {
    transform: scale(1.05);
}

.card__inner {
    width: 100%;
    position: relative;
    /* padding: 5px; */
    cursor: pointer;
    transition: all 0.3s;
}

.card__expander {
    width: 100%;
    padding: 30px;
    transition: all 0.7s;
}

.card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}

.card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: -60px;
    opacity: 0;
}

.card.is-expanded .card__expander {
    max-height: 3000px;
    /* min-height: 200px; */
    overflow: visible;
    margin-top: 0px;
    opacity: 1;
}

.card.is-expanded:hover .card__inner {
    transform: scale(1);
}

.card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
    transform: scale(1);
}

.card__inner img {
    object-fit: cover;
    object-position: 0px 10%;
}